urxvt*foreground: #ffffff
! urxvt*background: #000000

! Normal
! color0    black
! color1    red
! color2    green
! color3    yellow
! color4    blue
! color5    purple
! color6    cyan
! color7    white


urxvt*color8:    #4DA869
urxvt*color9:    #EF2929
urxvt*color10:    #BDA2BF
urxvt*color11:    #FFF391
urxvt*color12:    #7587A6
urxvt*color13:    #F0C47B
urxvt*color14:    #FF4040
urxvt*color15:    #EEEEEC
urxvt*color0:    #2E3436
urxvt*color1:    #DD1144
urxvt*color2:    #9B859D
urxvt*color3:    #F9EE98
urxvt*color4:    #424D5E
urxvt*color5:    #CDA869
urxvt*color6:    #E94444
urxvt*color7:    #C2C2C2

! Light
! color8    black
! color9    red
! color10    green
! color11    yellow
! color12    blue
! color13    purple
! color14    cyan
! color15    white


URxvt.font: -*-terminus-*-*-*-*-12-*-*-*-*-*-iso10646-*
URxvt.perl-ext-common: default,matcher,clipboard-osc,url-select,keyboard-select,selection,clipboard
URxvt.scrollBar: false
URxvt.urlLauncher: xdg-open
URxvt.matcher.button:   1
URxvt.depth: 32
urxvt*background: rgba:0000/0000/0000/dddd
! urxvt*termName: rxvt-unico
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb
